@model IEnumerable<Entities.Concrete.Role>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rol Listesi</h2>
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Rol</th>
        <th>Güncelle</th>
        <th>Sil</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.RoleName</td>
            <td><a class="btn btn-primary" href="/Role/Update/@item.Id">Güncelle</a></td>
            <td><a class="btn btn-danger" href="/Role/Delete/@item.Id">Sil</a></td>
        </tr>
    }
</table>
<br />
<a href="/Role/Add/" class= "btn btn-info">Yeni Rol</a>

